.app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.search-box {
  margin-bottom: 20px;
  position: relative;
  width: 241px;
  display: flex;
  align-items: center;
}

.search-box input {
  width: 241px;
  padding: 6px 12px;
  height: 38px;
  font-size: 16px;
  border: 1px solid rgb(206, 212, 218);
  border-radius: 4px;
  background-color: #fff;
}
.search-box span{
  font-size: 12px;
  border: 1px solid rgb(222, 226, 230);
  border-radius: 2px;
  height: 24px;
  padding:0 4px;
  position: absolute;
  right: 13px;
  top: 13px;
  display: flex;
  align-items: center;
}
.city-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.city-table th,
.city-table td {
  border: 1px solid rgb(222, 226, 230);
  padding: 8px;
  text-align: left;
}

.city-table th {
  background-color: #f4f4f4;
  font-weight: 700;
}

.city-table .flag {
  vertical-align: middle;
  margin-right: 8px;
}

.spinner {
  text-align: center;
  margin: 20px 0;
}

.no-result {
  text-align: center;
  color: #888;
  margin: 20px 0;
}
.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; 
  margin-top: 20px;
  padding: 0; 
  box-sizing: border-box; 
}

.pagination-controls {
  display: flex;
  align-items: center;
  overflow-x: auto; 
  max-width: 50%;
}

.pagination-controls button {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 4px;
  flex-shrink: 0; 
}

.pagination-controls button.active {
  background-color: #007bff;
  color: white;
  border: 1px solid #007bff;
}

.limit-control {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.limit-control input {
  width: 60px;
  padding: 5px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 4px;
}

@media (max-width: 600px) {
  .pagination-container {
    align-items: flex-start; 
    overflow-x: scroll;
  }
  .search-box, .search-box input{
    width: 100%;
  }
  .pagination-controls {
    overflow-x: auto; 
    margin-bottom: 10px;
    max-width: 70%;
  }

  .limit-control {
    margin-left: 0; 
  }

  .limit-control input {
    width: auto;
  }
  .responsiveTable{
    overflow-x: scroll;
  }
}